<h3 class="page-header">Job Orders</h3>

<form class="form form-inline" ng-submit="reloadTable()">
  <input type="text" ng-if="!isAuthorized('ROLE_CUSTOMER')" ng-model="filter.term" onClick="this.select()" placeholder="Customer name or tracking number" class="form-control" />
  <select ng-model="filter.status" class="form-control">
    <option value="">Any</option>
    <option value="NEW">New</option>
    <option value="CLEANED">Cleaned</option>
    <option value="PAID_CLAIMED">Paid & Claimed</option>
  </select>
  <input type="submit" value="Filter" class="form-control"/>
</form>

<table ng-table="tableParams" show-filter="true" class="table table-striped">
  <thead>
    <tr>
      <th>Tracking No.
      <th>Customer
      <th>Date Received
      <th>Date Due
      <th>Amount Due
      <th>Amount Paid
      <th>Status
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="jobOrder in $data">
      <td>
        <span ng-if="isAuthorized('ROLE_CUSTOMER')">{{jobOrder.trackingNo}}</span>
        <a ng-if="isAuthorized('ROLE_POS')" ui-sref="default.pos.joborder_view({trackingNo: jobOrder.trackingNo})">{{jobOrder.trackingNo}}</a>
        <a ng-if="isAuthorized('ROLE_MANAGER')" ui-sref="default.manager.joborder_view({trackingNo: jobOrder.trackingNo})">{{jobOrder.trackingNo}}</a>
      </td>
      <td>{{jobOrder.customer.formattedName}}
      <td>{{jobOrder.dateReceived | date:'MMM dd, yyyy h:mma'}}
      <td>{{jobOrder.dateDue | date}}
      <td>{{jobOrder.totalAmount | currency: 'Php '}}
      <td>{{jobOrder.totalAmountPaid | currency: 'Php '}}
      <td ng-if="isAuthorized('ROLE_MANAGER') || (!isClosedOrCancelled(jobOrder) && isAuthorized('ROLE_POS'))">
        <select ng-model="jobOrder.status" ng-change="onStatusChange(jobOrder)" class="form-control input-sm">
          <option value="NEW">New</option>
          <option value="CLEANED">Cleaned</option>
          <option value="PAID_CLAIMED">Paid & Claimed</option>
          <option ng-if="isAuthorized('ROLE_MANAGER')" value="CLOSED">Closed</option>
          <option ng-if="isAuthorized('ROLE_MANAGER')" value="CANCELLED">Cancelled</option>
        </select>
      </td>
      <td ng-if="isClosedOrCancelled(jobOrder) && !isAuthorized('ROLE_MANAGER')">
        {{jobOrder.status}}
      </td>
      <td ng-if="!isAuthorized('ROLE_POS') && !isAuthorized('ROLE_MANAGER')">
        {{jobOrder.status}}
      </td>
    </tr>
    <tr ng-if="!$data.length">
      <td colspan="4">No items available</td>
    </tr>
  </tbody>
</table>