<div ng-if="jobOrder.trackingNo">
<h3 class="page-header">Job Order {{jobOrder.trackingNo}}</h3>

<dl class="dl-horizontal">
  <dt>Customer
  <dd ng-if="isAuthorized('ROLE_POS')"><a ui-sref="default.pos.customer_view({id: jobOrder.customer.id})">{{jobOrder.customer.formattedName}}</a></dd>
  <dd ng-if="isAuthorized('ROLE_CUSTOMER')">{{jobOrder.customer.formattedName}}</dd>
  <dt>Date Received
  <dd>{{jobOrder.dateReceived | date}}
  <dt>Date Due
  <dd>{{jobOrder.dateDue | date}}
  <dt>Services
  <dd>
    <div class="row">
    <div ng-repeat="service in jobOrder.jobServices" class="col-sm-4 mt5 servicepanel-small">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-3">
              <img src="images/icons/{{service.serviceType.icon}}" class="img-thirtytwo" />
            </div>
            <div class="col-sm-9 text-right">
              <div class="large">{{service.serviceType.label}}</div>
              <div><strong>{{service.weightInKilos}}</strong> Kg @ Php {{service.pricePerKilo}}/Kg</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-left">{{service.weightInKilos * service.pricePerKilo | currency: 'Php '}}</span> 
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </div>
  </dd>
  <dt>Total Amount
  <dd>{{jobOrder.totalAmount | currency: 'Php '}}
  <dt>Total Amount Paid
  <dd>{{jobOrder.totalAmountPaid | currency: 'Php '}}
  <dt>Status
  <dd ng-if="isAuthorized('ROLE_POS') && !isClosedOrCancelled(jobOrder)">
    <div class="row">
    <div class="col-sm-4">
    <select ng-model="jobOrder.status" ng-change="onStatusChange(jobOrder, '{{jobOrder.status}}')" class="form-control input-sm">
      <option value="NEW">New</option>
      <option value="CLEANED">Cleaned</option>
      <option value="PAID_CLAIMED">Paid & Claimed</option>
    </select>
    </div>
    </div>
  </dd>
  <dd ng-if="!isAuthorized('ROLE_POS') || isClosedOrCancelled(jobOrder)">
    {{jobOrder.status}}
  </dd>
</dl>

<div class="panel panel-default" ng-if="jobOrder.lostAndFoundItems.length">
<div class="panel-heading"><i class="fa fa-key"></i> Lost And Found Items</div>
<div class="panel-body">
<div ng-repeat="item in jobOrder.lostAndFoundItems">
  <dl class="dl-horizontal">
    <dt>Description
    <dd>{{item.description}}
    <dt>Status
    <dd>
      <div class="row">
        <div class="col-sm-4">
          <select ng-model="item.status" class="form-control input-sm" ng-change="onLostAndfoundStatusChange()">
            <option value="LOST">Lost</option>
            <option value="FOUND">Found</option>
            <option value="NOT_FOUND">Not Found</option>
          </select>
        </div>
      </div>
    </dd>
  </dl>
</div>
</div>
</div>

<div class="row text-right">
  <button ng-click="lostAndFound()" ng-disabled="isClosedOrCancelled(jobOrder)" class="btn btn-default">Report Lost & Found</button>
  <a href="joborder/print/{{jobOrder.trackingNo}}" target="_blank" class="btn btn-primary btn-s-xs">Print</a>
</div>
</div>

<div ng-if="!jobOrder.trackingNo" class="error">
  <h3>Job Order not found!
</div>

<script type="text/ng-template" id="modal-lostandfound">
  <form name="lostAndFoundForm" ng-submit="proceed()" class="form form-horizontal">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Lost And Found</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label col-sm-3 req">Description</label>
      <div class="col-sm-5">
        <input type="text" ng-model="lostAndFound.description" class="form-control" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Status</label>
      <div class="col-sm-5">
        <select ng-model="lostAndFound.status" class="form-control">
          <option ng-if="isAuthorized('ROLE_CUSTOMER')" value="LOST">Lost</option>
          <option value="FOUND">Found</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="lostAndFoundForm.$invalid" class="btn btn-primary btn-s-xs">Save</button>
    <span class="btn btn-default btn-s-xs" ng-click="cancel()">Cancel</span>
  </div>
  </form>
</script>