<h3 class="page-header">Job Orders</h3>

<form class="form form-inline" ng-submit="reloadTable()">
  <div class="row">
    <div class="col-sm-12">
    <input style="width: 30%;" type="text" ng-if="!isAuthorized('ROLE_CUSTOMER')" ng-model="filter.term" onClick="this.select()" placeholder="Customer name or tracking number" class="form-control" />
    <select ng-model="filter.status" class="form-control">
      <option value="">Any</option>
      <option value="NEW">New</option>
      <option value="CLEANED">Cleaned</option>
      <option value="PAID_CLAIMED">Paid & Claimed</option>
    </select>
    <input type="submit" value="Filter" class="form-control"/>
    <span ng-click="clearFilters()" class="btn btn-default">Clear</span>
    </div>
  </div>
</form>

<div class="mt10">
  <a data-toggle="collapse" href="#advancedFilters" ng-click="showAdvanced = !showAdvanced" ng-init="showAdvanced = false" aria-expanded="false" aria-controls="advancedFilters" style="font-family: monospace;">
    <span ng-show="showAdvanced">[-]</span>
    <span ng-show="!showAdvanced">[+]</span>
    Advanced
  </a>
</div>
<div class="collapse mt10" id="advancedFilters">
<form class="form form-horizontal" ng-submit="reloadTable()">
  <div class="form-group">
    <label class="col-sm-2 control-label">Date filter</label>
    <div class="col-sm-3">
      <span class="input-group">
        <input type="text" datepicker-popup="{{dateFormat}}" placeholder="Received Date from"
          ng-model="filter.datefrom" is-open="openDatefrom" ng-init="openDatefrom = false"
          max-date="{{today}}"
          class="form-control" readonly />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open('from', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
    </div>
    <div class="col-sm-3">
      <span class="input-group">
        <input type="text" datepicker-popup="{{dateFormat}}" placeholder="Received Date to"
          ng-model="filter.dateto" is-open="openDateto" ng-init="openDateto = false"
          max-date="{{today}}"
          class="form-control" readonly />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open('to', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
    </div>
  </div>
</form>
</div>

<table ng-table="tableParams" show-filter="true" class="table table-striped">
  <thead>
    <tr>
      <th>Tracking No.
      <th>Customer
      <th>Date Received
      <th>Date Due
      <th>Amount Due
      <th>Amount Paid
      <th>Status
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="jobOrder in $data">
      <td>
        <a ng-if="isAuthorized('ROLE_POS')" ui-sref="default.pos.joborder_view({trackingNo: jobOrder.trackingNo})">{{jobOrder.trackingNo}}</a>
        <a ng-if="isAuthorized('ROLE_MANAGER')" ui-sref="default.manager.joborder_view({trackingNo: jobOrder.trackingNo})">{{jobOrder.trackingNo}}</a>
        <a ng-if="isAuthorized('ROLE_CUSTOMER')" ui-sref="default.customer.joborder_view({trackingNo: jobOrder.trackingNo})">{{jobOrder.trackingNo}}</a>
      </td>
      <td>{{jobOrder.customer.formattedName}}
      <td>{{jobOrder.dateReceived | date:'MMM dd, yyyy h:mma'}}
      <td>{{jobOrder.dateDue | date}}
      <td>{{jobOrder.totalAmount | currency: 'Php '}}
      <td>{{jobOrder.totalAmountPaid | currency: 'Php '}}
      <td ng-if="isAuthorized('ROLE_MANAGER') || (!isClosedOrCancelled(jobOrder) && isAuthorized('ROLE_POS'))">
        <select ng-model="jobOrder.status" ng-change="onStatusChange(jobOrder)" class="form-control input-sm">
          <option value="NEW">New</option>
          <option value="CLEANED">Cleaned</option>
          <option value="PAID_CLAIMED">Paid & Claimed</option>
          <option ng-if="isAuthorized('ROLE_MANAGER')" value="CLOSED">Closed</option>
          <option ng-if="isAuthorized('ROLE_MANAGER')" value="CANCELLED">Cancelled</option>
        </select>
      </td>
      <td ng-if="isClosedOrCancelled(jobOrder) && isAuthorized('ROLE_POS')">
        {{jobOrder.status}}
      </td>
      <td ng-if="isAuthorized('ROLE_CUSTOMER')">
        {{jobOrder.status}}
      </td>
    </tr>
    <tr ng-if="!$data.length">
      <td colspan="4">No items available</td>
    </tr>
  </tbody>
</table>
