<form name="contactDetailsForm" class="form-horizontal" ng-submit="proceed(contactDetailsForm.$valid)">
<div class="modal-header modal-primary">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h3 class="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body">
  <div class="row">
  <div class="col-sm-12">
    <div class="form-group col-sm-12">
      <label class="col-sm-4 control-label req">Cellphone number</label>
      <div class="col-sm-8">
        <input type="text" maxlength="30" ng-model="customer.contactDetails.cellphone" class="form-control" required>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="col-sm-4 control-label">Landline number</label>
      <div class="col-sm-8">
        <input type="text" maxlength="30" ng-model="customer.contactDetails.landline" class="form-control">
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="col-sm-4 control-label">Email</label>
      <div class="col-sm-8">
        <input type="email" maxlength="30" ng-model="customer.contactDetails.email" class="form-control">
      </div>
    </div>
  </div>
  </div>
</div>
<div class="modal-footer">
  <input type="submit" class="btn btn-primary btn-s-xs" ng-click="proceed()" ng-disabled="contactDetailsForm.$invalid" value="Save" />
  <button class="btn btn-default btn-s-xs" ng-click="cancel()">Cancel</button>
</div>
</form>