<div id="wrapper">
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="default.pos.splash" titl="POS Dashboard">POS</a>
  </div>
  <!-- /.navbar-header -->
  
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input ng-model="search.term" type="text" class="form-control" placeholder="Search open job orders">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li><a ui-sref="default.pos.splash" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
        <li><a ui-sref="default.pos.joborder_list" ui-sref-active="active"><i class="fa fa-list fa-fw"></i> View All Job Orders</a></li>
        <li><a ui-sref="default.pos.joborder_create" ui-sref-active="active"><i class="fa fa-edit fa-fw"></i> Create Job Order</a></li>
        <li ng-if="recentData.jobOrder">
          <a ui-sref="default.pos.joborder_view({trackingNo: recentData.jobOrder.trackingNo})" ui-sref-active="active">
            <i class="fa fa-file-text-o fa-fw"></i> Last Viewed <br>
            <small style="margin-left: 20px;">{{recentData.jobOrder.trackingNo}}</small>
          </a>
        </li>
        <li ng-class="{hide: !recentData.customer.id}">
          <a href="javascript:;">
            <i class="fa fa-user fa-fw"></i> Last Viewed <br>
            <small style="margin-left: 20px;">{{recentData.customer.formattedName}}</small>
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse in">
            <li>
              <a ui-sref="default.pos.customer_view({id: recentData.customer.id})"
                ui-sref-active="active">
                Name and Address
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="page-wrapper" style="padding-top: 20px;">
  <ui-view></ui-view>
</div>
</div>