<div class="row">

<div ui-sref="default.pos.joborder_create" class="col-sm-4 pointer mt20">
  <div class="panel panel-yellow">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-3">
          <i class="fa fa-shopping-cart fa-5x"></i>
        </div>
        <div class="col-sm-9 text-right">
          <div class="huge">Create</div>
          <div>New Job Order</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <span class="pull-left">Create new job order</span> <span
        class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</div>


