<div ng-if="customer">
<h3 class="page-header">Pickup and Delivery <br> <small class="muted">{{customer.formattedName}}</small></h3>

<dl ng-if="pickup" class="dl-horizontal">
  <dt>Id
  <dd>{{pickup.id}}
  <dt>Address line 1
  <dd>{{pickup.address.addressLine1}}
  <dt ng-if="pickup.address.addressLine2">Address Line 2
  <dd ng-if="pickup.address.addressLine2">{{pickup.address.addressLine2}}
  <dt ng-if="pickup.address.city">City
  <dd ng-if="pickup.address.city">{{pickup.address.city}}
  <dt ng-if="pickup.address.province">Province
  <dd ng-if="pickup.address.province">{{pickup.address.province}}
  <dt ng-if="pickup.address.zip">Zip Code
  <dd ng-if="pickup.address.zip">{{pickup.address.zip}}
  <dt>Status
  <dd>{{pickup.status}}
</dl>
<div>
  <span ng-if="!pickup" ng-click="requestPickup()" class="btn btn-default">Request pickup</span>
  <span ng-if="pickup" ng-click="requestPickup(pickup)" class="btn btn-default">Edit pickup request</span>
  <span ng-if="pickup" ng-click="cancelPickup(pickup)" class="btn btn-default">Cancel pickup request</span>
</div>

<hr>
<h4>Deliveries</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Tracking No
      <td>Job Order status
      <td>Delivery Request status
      <td>Actions
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="deliverable in deliverables">
      <td>{{deliverable.trackingNo}}
      <td>{{deliverable.status}}
      <td>{{deliverable.deliveryStatus ? deliverable.deliveryStatus : 'No delivery request'}}
      <td>
        <button ng-if="!deliverable.deliveryStatus" ng-click="requestDelivery(deliverable)" title="Request Delivery" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-truck"></i></button>
        <button ng-if="deliverable.deliveryStatus == 'NEW'" ng-click="cancelDelivery(deliverable)" title="Cancel Delivery" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-close"></i></button>
        <button ng-if="deliverable.deliveryStatus == 'NEW'" ng-click="viewDeliveryDetails(deliverable)" title="View Delivery Details" class="btn btn-default btn-sm"><i class="fa fa-fw fa-list"></i></button>
      </td>
    </tr>
  </tbody>
</table>

</div>

<script type="text/ng-template" id="modal-request-pickup">
  <form name="pickupRequestForm" class="form form-horizontal" ng-submit="proceed()">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Request pickup</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">Customer</label>
      <div class="col-sm-4">
        <p class="form-control-static">{{pickupRequest.customer.formattedName}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label req">Addr line 1</label>
      <div class="col-sm-4">
        <input type="text" ng-model="pickupRequest.address.addressLine1" required class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Addr line 2</label>
      <div class="col-sm-4">
        <input type="text" ng-model="pickupRequest.address.addressLine2" class="form-control" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="proceed(pickupRequestForm.$valid)" class="btn btn-primary btn-s-xs">Proceed</button>
    <button ng-click="cancel()" class="btn btn-default btn-s-xs">Cancel</button>
  </div>
  </form>
</script>

<script type="text/ng-template" id="modal-delivery-request-details">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="ok()">&times;</button>
    <h3 class="modal-title">Delivery request details</h3>
  </div>
  <div class="modal-body">
    <dl ng-if="deliveryRequest" class="dl-horizontal">
      <dt>Address line 1
      <dd>{{deliveryRequest.address.addressLine1}}
      <dt ng-if="deliveryRequest.address.addressLine2">Address Line 2
      <dd ng-if="deliveryRequest.address.addressLine2">{{deliveryRequest.address.addressLine2}}
      <dt ng-if="deliveryRequest.address.city">City
      <dd ng-if="deliveryRequest.address.city">{{deliveryRequest.address.city}}
      <dt ng-if="deliveryRequest.address.province">Province
      <dd ng-if="deliveryRequest.address.province">{{deliveryRequest.address.province}}
      <dt ng-if="deliveryRequest.address.zip">Zip Code
      <dd ng-if="deliveryRequest.address.zip">{{deliveryRequest.address.zip}}
      <dt>Date requested
      <dd>{{deliveryRequest.created | date: 'MMM dd, yyyy'}}
      <dt>Status
      <dd>{{deliveryRequest.status}}
    </dl>
    <div ng-if="!deliveryRequest">Error retrieving delivery request details</div>
  </div>
  <div class="modal-footer">
    <button ng-click="edit()" class="btn btn-primary btn-s-xs">Edit</button>
    <button ng-click="ok()" class="btn btn-default btn-s-xs">Ok</button>
  </div>
</script>

<div ng-if="!customer">
  <h3>Customer not found!</h3>
</div>